@(webJarAssets: WebJarAssets)

@main("Elaaticsearch auto complete")(webJarAssets) {

<div class="row" style="margin-top: 15px;">
    <div class="col-md-8 col-sm-12">

    <!-- Search box -->
    <div class="input-group">
    <input id="search_box" placeholder="Search here ..." class="form-control custom-input" type="text"/>
      <span class="input-group-btn">
       <button type="button" class="btn btn-success">
           <span style="padding-right: 10px;" class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
       </button>
      </span>
    </div>
 </div>
    <div class="col-md-4 col-sm-12"></div>
</div>

}