@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@

@(title: String)(webJarAssets: WebJarAssets)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>

    <!-- Plugin Javascript -->
    <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
    <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.min.js"))'></script>
    <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("js/jquery-ui-1.9.2.custom.min.js"))'></script>

    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/main.js")'></script>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <!-- CSS Links -->
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/smoothness/jquery-ui-1.9.2.custom.min.css"))'>

    <!-- Custom CSS Links -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

</head>
<body>

<nav class="navbar custom-nav navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <h3 class="page-title">Elasticsearch Auto Complete</h3>
        </div>
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    @content
</div>

    </body>
</html>